body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.line{
  /* background-color: white; */
  height: 4px;
  width: 80px;
  margin-inline: 20px;
}
.darkishBlue{
  color: rgb(44, 62, 80);
}
.card{
  background-color: inherit;
  color: white;
}
.active{
  background-color: #1abc9c !important;
}
.nav-link{
  border-radius: 8px;

}